<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="userMapper">

    <resultMap id="userResultMap" type="com.example.spring.user.UserVo">
        <result property="userId" column="USER_ID" />
        <result property="password" column="PASSWORD" />
        <result property="name" column="NAME" />
        <result property="phone" column="PHONE" />
        <result property="email" column="EMAIL" />
        <result property="status" column="STATUS" />
        <result property="lastLoginAt" column="LAST_LOGIN_AT" />
        <result property="createdAt" column="CREATED_AT" />
        <result property="updatedAt" column="UPDATED_AT" />
    </resultMap>

    <!-- 사용자 등록 -->
    <insert id="create" parameterType="com.example.spring.user.UserVo">
        <![CDATA[
        INSERT INTO USER (
            USER_ID, 
            PASSWORD, 
            NAME, 
            PHONE, 
            EMAIL
        ) VALUES (
            #{userId}, 
            #{password}, 
            #{name}, 
            #{phone}, 
            #{email}
        )
        ]]>
    </insert>

    <!-- 사용자 정보 -->
    <select id="read" parameterType="String" resultMap="userResultMap">
        <![CDATA[
        SELECT * FROM USER WHERE 1=1
        ]]>
        <if test="userId != null">
            <![CDATA[
            AND USER_ID = #{userId}
            ]]>
        </if>
        <if test="email != null">
            <![CDATA[
            AND EMAIL = #{email}
            ]]>
        </if>
    </select>

    <!-- 사용자 수정 -->
    <update id="update" parameterType="com.example.spring.user.UserVo">
        <![CDATA[
        UPDATE USER SET
        ]]>
        <if test="name != null">
            <![CDATA[
            NAME = #{name},
            ]]>
        </if>
        <if test="password != null">
            <![CDATA[
            PASSWORD = #{password},
            ]]>
        </if>
        <if test="phone != null">
            <![CDATA[
            PHONE = #{phone},
            ]]>
        </if>
        <if test="email != null">
            <![CDATA[
            EMAIL = #{email},
            ]]>
        </if>
        <![CDATA[
        WHERE USER_ID = #{userId}
        ]]>
    </update>

</mapper>